.add-card-modal {
    height: 95vh;
    width: 540px;
    background-color: #fff; 

    >form {
        height: 100%;
        display: flex;
        flex-direction: column;

        >button, >input {
            flex: 0;
        }

        ul.matches-list {
            background-color: #fff;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;

            >li {
                list-style-type: none;
                width: 100%;
                padding: 4px 80px;
                border-bottom: 1px solid #ddd;
                cursor: pointer;

                &:hover {
                    background-color: #eee;

                    >* {
                        background-color: #eee;
                    }
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        >button {
            width: 100%;
            font-size: 20px;
            padding: 8px;
            cursor: pointer;
            flex: 0;

            &:disabled {
                cursor: default;
            }
        }
    }
}